version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: my-postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/01-schema/01_book_record_table.sql:/docker-entrypoint-initdb.d/01_book_record_table.sql
      - ./sql/01-schema/02_book_sale_table.sql:/docker-entrypoint-initdb.d/02_book_sale_table.sql
      - ./sql/02-constraints/03_book_record_constraint.sql:/docker-entrypoint-initdb.d/03_book_record_constraint.sql
      - ./sql/02-constraints/04_book_sale_constraint.sql:/docker-entrypoint-initdb.d/04_book_sale_constraint.sql
      - ./sql/03-inserts/05_book_record_insert.sql:/docker-entrypoint-initdb.d/05_book_record_insert.sql

volumes:
  postgres_data:
